{
  "extends": "eslint-config-egg",
  "root": true,
  "rules": {
    "indent": ["error", "tab"]
  },
  "overrides": [
    {
      "files": ["*.js"],
      "rules": {
        "indent": ["error", "tab"]
      }
    }
  ]
}
